<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty app was built by <a target="_blank" href="https://github.com/JenniferTran15/queen-j15">Jennifer Tran</a>. A student who is aspiring to broaden their knowledge in software and web development to achieve professional skills of their own. 
  </p>
  <br />
  <p>
    She is currently attending George Washington University Coding Bootcamp to acquire and master the skills she needs to further her career.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4")
      <%= image_tag 'jennifer.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jennifer Tran</h2>
      <br />
      <p>
        Jennifer Tran is a recent graduate from James Madison University with a degree in Health Science and Political Science. Her thirst for knowledge has led her to pursue additional education in software and web programming and development.
      </p>
    </div>
  </div>  

</div>

<br class="clear" />
<br />
<br />
<br />
<br />