<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Here are some of the <u>best quotes</u> that will brighten your day!
</h2>


<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />